fastapi
uvicorn[standard]
sqlalchemy
qrcode
pillow
python-multipart
python-dotenv
requests
supabase
psycopg2-binary
bcrypt
# deepface  # Descomentar si se usa reconocimiento facial local
# pytesseract # Para OCR de cedula
